extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/add-custom-card.css")

block content 
  h1= title 

  div.page-wrapper

    form.form-wrapper(method="POST" action="/collection/add-custom-card")
      div.outer
        div.inner
          h2 Card
          //- Pokemon Name
          div.form-control 
            label(for="name") Name:
            input#name(type="text" name="name" required)

          //- Supertype
          div.form-control 
            label(for="supertype") Supertype: 
            select.select#supertype(name="supertype" required) 
              option(value="Pokémon" default) Pokémon
              option(value="Trainer") Trainer
              option(value="Energy") Energy

          //- Market Value
          div.form-control 
            label(for="market") Card Value: 
            input#market(type="number" step="0.01" name="market" required) 

          //- Price Type
          div.form-control 
            label(for="priceType") Price Type: 
            select.select#priceType(name="priceType" required) 
              option(value="normal" default) Normal
              option(value="reverseHolofoil") Reverse Holo
              option(value="holofoil") Holo
              option(value="1stEdition") 1st Edition
              option(value="1stEditionHolofoil") 1st Edition Holo

          //- Image link
          div.form-control 
            label(for="img") Image URL: 
            input#img(type="text" name="img" pattern="(http)s?(://).+")
          
          //- Rarity
          div.form-control 
            label(for="rarity") Card Rarity: 
            select#rarity(name="rarity" required) 
              each item in rarities
                option(value=item)= item
        
        div.inner
          h2 Set
          //- Set Name
          div.form-control 
            label(for="set_name") Set Name: 
            input#set_name(type="text" name="set_name")

          //- Set Symbol
          div.form-control 
            label(for="set_symbol") Set Symbol: 
            input#set_symbol(type="text" name="set_symbol" pattern="(http)s?(://).+")         
          
          //- Set Series
          div.form-control 
            label(for="set_series") Set Series: 
            input#set_series(type="text" name="set_series")

          //- Set ID
          div.form-control 
            label(for="set_id") Set ID: 
            input#set_id(type="text" name="set_id" required)
          
          //- Set Release
          div.form-control 
            label(for="set_releaseDate") Set Release Date (YYYY/MM/DD): 
            input#set_releaseDate(type="text" name="set_releaseDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" )
          
          //- Set Number
          div.form-control 
            label(for="set_number") Card Number in Set: 
            input#set_number(type="text" name="set_number" required)

          //- Set Total Cards
          div.form-control 
            label(for="set_printedTotal") Total Cards in Set: 
            input#set_printedTotal(type="text" name="set_printedTotal")

      button.btn(type="submit" style="padding:8px") Add Card to Collection




    

