extends layout 

block content 
  div.page-wrapper(style="text-align:center;margin-top:100px")
    h1= title 

    p Delete #{cardName}?

    form(method="POST" action=``)
      input#cardId(type="hidden" name="cardId" required="true" value=cardId)
      button.btn.secondary-btn(type="submit") Remove #{cardName}