extends layout 

block noUser
  if errors 
    ul
      for error of errors
        li= errors

  form.form-wrapper(method='POST' action='') 
    h2(style='text-align:center')= title 
    div.form-control 
      label(for='username' style='margin-left:15px') Email 
      input#username(type="email" name='username' required='true' placeholder='email@email.com')
    div.form-control 
      label(for='password' style='margin-left:15px') Password 
      input#password(type="password" name='password' required='true' placeholder='********')
    div.form-control-btns 
      a(href="/") Cancel
      button.btn(type="submit") Submit

  p(style="margin-top: 50px;text-align:center") To check out some features, log in with test data: 
      ul(style="padding:10px;border:solid 1px black; width:300px;margin:0 auto") 
        li Username: test@email.com
        li Password: 12345