extends layout 

block content 
  header 
    h1= title 
    div.sort-container 
      form.form-wrapper(method="GET" action="/sort-collection") 


    div.collection-container 
      if !card_list.length
        p No cards in collection yet

      else 
        ul 
          each card in card_list
            li= card.pokemon.name