extends layout 

block content 
  header 
    h1= title 
    div.sort-container 
      form.form-wrapper(method="GET" action="/sort-collection") 
        
    div.filter-container.hidden 
      form.form-wrapper(method="GET" action="/filter-collection") 

    div.collection-container 
      ul 
        each card in card_list