doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="icon" href="/favicon.ico")

    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Rajdhani:wght@400;500&display=swap" rel="stylesheet")

    script(type="module" src="/javascripts/scriptNav.js" defer)
    block scripts

  
  body 
    if !currentUser
      header.no-auth-header
        p 
          a(href="/") Home
        p 
          a(href="/register") Register
        p 
          a(href="/login") Login
      block noUser
      block content

    else  
      div.app-wrapper 
        div.sidebar 
          img.nav-img(src="/images/pokeball.png", alt="Pokeball")
          
          nav.nav-bar 
            ul 
              li 
                a(href="/collection/home") Collection 
                
                ul 
                  li 
                    a(href="/collection/filter") Filter
                  li 
                    a(href="/collection/sets") Sets

              li(style="margin-top:15px") 
                a(href="/collection/binders") Binders

              li(style="margin-top:15px") 
                a(href="/search") Add Cards 

              li(style="margin-top:50px")
                a(href="/logout") Logout
        
        div.topbar
          img.nav-img(src="/images/pokeball.png", alt="Pokeball")

          nav
            div 
              p#collection-menu-btn Collection 
              div.collection-menu 
                ul 
                  li 
                    a(href="/collection/home") Collection 
                  li 
                    a(href="/collection/elite") Elite Binder
                  li 
                    a(href="/collection/prize") Prize Binder
                  li 
                    a(href="/collection/filter") Filter
                  li 
                    a(href="/collection/sets") Sets

            div 
              a(href="/search") Add Cards 
            div 
              a(href="/logout") Logout
            

        main.main-wrapper
          block content