doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  
  body 
    if !currentUser
      header.no-auth-header
        p 
          a(href="/") Home
        p 
          a(href="/register") Register
        p 
          a(href="/login") Login
      div
        block noUser
        block content

    else  
      div.app-wrapper 
        div.sidebar 
          nav.nav-bar 
            ul 
              li 
                a(href="/collection/home") Collection 
                
                ul 
                  li 
                    a(href="/collection/elite") Elite Binder
                  li 
                    a(href="/collection/prize") Prize Binder
                  li 
                    a(href="/collection/filter") Filter
                  li 
                    a(href="/collection/sets") Sets
                  li 
                    a(href="/collection/set-completion") Set Completion

              li(style="margin-top:15px") 
                a(href="/collection/bulk") Bulk Cards

                ul 
                  li 
                    a(href="/collection/bulk/rare") Rare
                  li 
                    a(href="/collection/bulk/nonrare") Non-Rare
                  li 
                    a(href="/collection/bulk/trainer") Trainer

              li(style="margin-top:15px") 
                a(href="/search") Add Cards 

              li(style="margin-top:50px")
                a(href="/logout") Logout

        main.main-wrapper
          block content