extends layout 

block content 
  h1= title 

  div 
    p Japanese Card Price Lookup: 
      a(href="https://www.pricecharting.com/" noreferrer target="_blank") here

  form.form-wrapper(method="GET" action="/search/results") 
    div.form-control 
      label(for="pokeName") Name:
      input#pokeName(type="text" name="pokeName" autofocus required)
    div.form-control 
      label(for="pokeSet") Set: 
      select#pokeSet(name="pokeSet") 
        option(value="" default) 
        each set in sets 
          option(value=set.id)= set.name
    button.btn.btn-primary(type="submit" style="padding:15px;margin-top:15px") Search