extends layout 

block content 
  div.set-page-wrapper
    h1 Set Completion 

    div.set-results-container
      each set in list_sets 
        hr(style="margin-top:15px")
        div.set-container
          h4= set[0].meta.set.name 
            span(style="font-size:.8rem;color:gray;font-weight:normal")  #{set.length}/#{set[0].meta.set.totalPrint}
          div.set-card-list
            each card in set 
              p= card.pokemon.name + " "
                span(style="font-size:.7rem")=  card.meta.set.number + "/" + card.meta.set.totalPrint