extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/add-custom-card.css")

block content 
  h1= title 

  div.page-wrapper

    form.form-wrapper(method="POST" action="/collection/add-custom-card")
      div.outer
        div.inner
          h2 Set
          
          //- Set Release
          div.form-control 
            label(for="set_releaseDate") Set Release Date (YYYY/MM/DD):
            input(type="text" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" required)
            //- input#set_releaseDate(type="text" name="set_releaseDate" pattern="\d{4}\/\d{2}\/\d{2}" )

      button.btn(type="submit" style="padding:8px") Add Card to Collection




    

