/* ##################### ## BINDER VIEW ################## */

.page-wrapper hr {
  margin: 10px 0;
}

.binder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 20px;
  background-image: url("/images/micro_carbon.png");
  padding: 50px 5px 75px;
  border-radius: 25px;
  border: ridge 10px rgba(71, 71, 71, 0.492);
}

.binder_sub_total {
  font-size:0.8rem;
  color:gray;
  font-weight:normal
}

.prize-card-container {
  position: relative;
  transition: transform 0.2s;
}

.prize-img-container > img {
  height: 350px;
  border-radius: 13px;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.437);
  filter: saturate(140%);
}

@media (hover: hover) {
  .prize-card-container:hover {
    transform: scale(1.5);
    z-index: 100;
  }
}

.prize-overlay {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.804),
    rgba(0, 0, 0, 0.845),
    rgba(0, 0, 0, 0.862),
    gray,
    rgba(0, 0, 0, 0.845),
    rgba(0, 0, 0, 0.814),
    white,
    gray,
    gray,
    rgba(0, 0, 0, 0.777),
    gray,
    gray,
    white,
    rgba(0, 0, 0, 0.857),
    rgba(0, 0, 0, 0.842),
    rgba(0, 0, 0, 0.734),
    gray,
    rgba(0, 0, 0, 0.757),
    rgba(0, 0, 0, 0.642)
  );
  height: 350px;
  border-radius: 13px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 35%;
  filter: brightness(200%);
}

.prize-card-container div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 10px;
}

.prize-info-container {
  backdrop-filter: blur(1px);
}

.prize-info-container > a {
  margin-top: 5px;
  color: rgba(221, 224, 140, 0.878);
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

.prize-info-container > p {
  font-size: 0.8rem;
  line-height: 0.7rem;
  color: rgba(216, 216, 216, 0.901);
  text-shadow: 1px 1px 1px black;
  padding-bottom: 4px;
}

@media only screen and (max-width: 1600px) {
  .prize-img-container > img {
    height: 250px;
    width: 179.19px;
  }

  .prize-overlay {
    height: 250px;
    width: 179.19px;
  }

  .prize-info-container{
    width: 179.19px;
  }

  .prize-info-container > p {
    padding-bottom: 1px;
  }

  .prize-info-container > a {
    font-size: 0.8rem;
  }

  .prize-info-container > p {
    font-size: 0.6rem;
  }
}