.header {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(94, 0, 0, 0.676);
    border-radius: 10px;
    background-color: rgb(250, 245, 245);
    max-width: 1100px;
}

@media only screen and (max-width: 670px) {
    .header>.title-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
}

.title-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media only screen and (max-width: 446px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.horizontal {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.horizontal>p {
    margin-bottom: 5px;
}

.vertical {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical>.horizontal {
    max-width: 700px;
}

.vertical>h3 {
    width: 100%;
    margin-bottom: 0;
}

.card {
    height: 50px;
    width: 90px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.327);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.tcg-card-container {
    height: 150px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tcg-card {
    width: 90px;
}

.tcg-card>img {
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.not-a {
    transition: transform .5s;
}

.not-a:hover {
    transform: scale(1.1);
}

.set-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 17%;
    size: .7rem;
}

.progress-bar {
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.373);
    width: 95%;
}

.progress {
    background-color: blueviolet;
    height: 100%;
}

.set-logo {
    width: 25px;
}

.set-logo>img {
    max-width: 100%;
}

.small-txt {
    font-size: .6rem;
}

.card>.bold {
    font-size: 1.15rem;
    color: rgb(32, 32, 32);
}

/* @media only screen and (max-width: 800px) {
    .collection-container {
        width: 100%;
        padding: 25px 5px;
    }
} */


/* @media only screen and (max-width: 670px) {
    .collection-item {
        justify-content: space-between;
    }

    .collection-card-set {
        display: none;
    }

    .collection-item-details {
        padding: 0 5px;
        flex-grow: 2;
    }
} */