/* TABLE OF CONTENTS */
/* 
  # Formatting
    ## Forms
  # No Auth Header
  # Landing Page
  # Sidebar
  # Main
    ## Home
    ## Card Detail
    ## Search
    ## Sets View
    ## Binder View
    ## Bulk View
    ## Filter View
*/

/* ##################### # FORMATTING ################## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.page-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
  border-radius: 10px;
  max-width: 1200px;
}

h1,
h2,
h3,
h4 {
  font-family: "Bad Script", Georgia, "Times New Roman", Times, serif;
}

a,
p {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: grey;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, color 0.3s;
  text-underline-offset: 0.3rem;
}

@media (hover: hover) {
  a:hover {
    text-decoration-color: rgba(54, 54, 54, 0.643);
  }
}

.btn {
  padding: 2.5px 10px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 0;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

@media (hover: hover) {
  .btn:hover {
    color: #e8e8e8;
  }

  .btn:hover::before {
    width: 100%;
  }
}

ul {
  list-style: none;
}

hr {
  border-color: rgba(128, 128, 128, 0.09);
}

/* ########### ## FORMS ############ */
.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 600px;
  height: 300px;
  margin: 50px auto 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-control > input,
.form-control select,
.form-control textarea {
  padding: 7px 10px;
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.1ch;
}

.form-control-btns {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* #################### # NO AUTH HEADER ##################### */

.no-auth-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  height: 60px;
  padding: 5px 10px;
  background-color: #212f3c;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.455);
}

@media (hover: hover) {
  .no-auth-header a:hover {
    color: rgba(228, 228, 228, 0.742);
    text-decoration-color: rgba(197, 197, 197, 0.742);
  }
}

/* #################### # LANDING PAGE ################ */
.landing-page {
  text-align: center;
  background-image: url("../images/pattern-background.jpg");
  background-size: cover;
  height: 94vh;
  max-width: none;
}

.landing-page > .intro {
  background: rgba(255, 255, 255, 0.424);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.319);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 10px;
}

.slideshow {
  margin: 0 auto;
  position: relative;
  background: rgba(255, 255, 255, 0.273);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.319);
  height: clamp(192px, 37vw, 370px);
  width: clamp(330px, 60vw, 600px);
  margin-top: 100px;
  border-radius: 10px;
}

.slide {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  opacity: 0;

  transition: opacity 3s;
}

.first-slide {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 8%);
  transition: opacity 2.5s;
}

.slide > img,
.first-slide > img {
  height: clamp(165px, 30vw, 300px);
  width: clamp(280px, 50vw, 500px);
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.567);
}

.slide.active {
  opacity: 100%;
}
.first-slide.inactive {
  opacity: 0;
}

.slide-wrapper {
  width: calc(400px * 4);
}

/* #################### # SIDEBAR ##################### */
.topbar {
  display: none;
}

.sidebar {
  padding: 20px 20px 20px 25px;
  width: 150px;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.543);
  height: 100vh;
  background-color: #212f3c;
}

.nav-img {
  height: 70px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.nav-bar > ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

.nav-bar > ul > li > ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 0.8rem;
}

.topbar p {
  color: grey;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, color 0.3s;
  text-underline-offset: 0.3rem;
}

@media (hover: hover) {
  .topbar p:hover,
  .topbar a:hover {
    text-decoration-color: rgba(228, 228, 228, 0.742);
    cursor: default;
    color: rgba(228, 228, 228, 0.742);
  }
}

@media only screen and (max-width: 800px) {
  .topbar > .nav-img {
    margin: 0;
  }

  .sidebar {
    display: none;
  }

  .topbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #212f3c;
    padding: 10px 10px 10px 0;
  }

  .topbar > nav {
    display: flex;
    column-gap: 15px;
    align-items: center;
    width: 100%;
  }

  .topbar > nav > div {
  }

  .collection-menu {
    overflow: hidden;
    height: 0;
    position: absolute;
  }

  .bulk-menu {
    overflow: hidden;
    height: 0;
    position: absolute;
  }
}

/* ##################### # MAIN ####################### */
.app-wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .app-wrapper {
    flex-direction: column;
  }
}

.main-wrapper {
  width: 100%;
  padding: 20px 2vw;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: rgb(224, 224, 224);
  background-image: url("../images/pattern-background.jpg");
  background-size: cover;
}

/* ########### ## HOME ############ */
.home-header {
  padding: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  box-shadow: 0 1px 2px 0 rgba(94, 0, 0, 0.676);
  border-radius: 10px;
  background-color: rgb(250, 245, 245);
  max-width: 1100px;
}

.sort-container > form > fieldset {
  padding: 15px;
  display: flex;
  column-gap: 10px;
}

.collection-container {
  width: 95%;
  max-width: 1000px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.collection-item {
  max-width: 1000px;
  margin-left: 25px;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.573);
  background-color: rgba(232, 232, 232, 0.725);

  transition: filter 0.3s;
}

.prize-binder {
  background: linear-gradient(
    to bottom right,
    rgba(197, 170, 16, 0.2),
    rgba(197, 170, 16, 0.2),
    rgba(197, 170, 16, 0.2),
    rgba(197, 170, 16, 0.2),
    white,
    rgba(197, 170, 16, 0.2),
    rgba(197, 170, 16, 0.2),
    rgba(197, 170, 16, 0.2)
  );
}

.elite-binder {
  background: linear-gradient(
    to bottom right,
    rgba(200, 0, 255, 0.168),
    rgba(200, 0, 251, 0.212),
    rgba(200, 0, 251, 0.186),
    rgba(200, 0, 251, 0.187),
    white,
    rgba(200, 0, 251, 0.171),
    rgba(200, 0, 251, 0.154),
    rgba(200, 0, 251, 0.175)
  );
}

@media (hover: hover) {
  .collection-item:hover {
    filter: brightness(120%);
  }
}

.collection-item > div {
  width: 35%;
}

.collection-item-img {
  display: flex;
  align-items: center;
}

.collection-item-img > img {
  height: 50px;
  transition: transform 0.3s;
}

@media (hover: hover) {
  .collection-item-img > img:hover {
    transform: scale(3);
  }
}

.collection-card-rarity,
.collection-card-set {
  font-size: 0.8rem;
}

.collection-card-set-no {
  font-size: 0.6rem;
}

.collection-item-value {
  font-size: 1.1rem;
}

/* ########### ## CARD DETAIL ############ */

.card-detail-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  max-width: 1100px;
  margin-top: 50px;
}

.detail-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-img-container > img {
  height: 600px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.546));
}

.detail-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.detail-info-container > div {
  background-color: rgba(255, 255, 255, 0.782);
  backdrop-filter: blur(4px);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.546);
}

.info-set-container > div {
  display: flex;
  column-gap: 15px;
  align-items: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.info-set-container > div > div {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.small-text {
  font-size: 0.8rem;
  color: rgb(62, 62, 62);
}

.current-price-container {
  display: flex;
  align-items: flex-end;
  column-gap: 15px;
  margin-bottom: 50px;
}

.current-price-container > h2 {
  font-family: "Rajdhani", Georgia, "Times New Roman", Times, serif;
}

.price-history-container {
  height: 300px;
  width: 400px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.527);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
  background: white;
}

.price-history-container > ul > li {
  letter-spacing: 0.1ch;
}

.card-edits-container {
  width: clamp(300px, 80%, 850px);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.card-edits-container > div,
.card-edits-container > form {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.709);
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-edit-form {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-separator {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card-edit-rarity-form {
  display: flex;
  column-gap: 10px;
}

.card-edit-rarity-form > #rarity {
  width: 50px;
}

.delete-card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.617);
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: 1150px) {
  .card-detail-container {
    flex-direction: column;
    align-items: center;
  }
}

/* ########### ## SEARCH ############ */
.results-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 10px 20px 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  width: 275px;
}

.owned {
  filter: brightness(0.6) grayscale(100%);
  position: relative;
  z-index: 100;
}
.result-img-container {
  min-width: 143.25px;
  height: 200px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.445);
  transition: transform 0.3s;
  border-radius: 10px;
}

.result-img-container > img {
  height: 200px;
}

@media (hover: hover) {
  .result-img-container > img:hover {
    transform: scale(1.5);
    z-index: 100;
    position: relative;
  }
}

.result-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.result-title {
  font-size: 1.1rem;
}

.result-set,
.result-number {
  font-size: 0.8rem;
  color: gray;
}

/* ########### ## SETS VIEW ############ */

.page-wrapper > .page-nav {
  max-height: 250px;
  padding: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px 20px;
  flex-wrap: wrap;
  font-size: 0.8rem;
  list-style-type: "ã€„";
  width: fit-content;
  background-color: rgb(250, 245, 245);
  width: 95%;
}

.page-wrapper > .page-nav > li {
  padding-left: 5px;
  margin-left: 12px;
  max-width: 200px;
}

.set-results-container {
  margin: 0 25px;
}

.set-container {
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px -2px 2px 0 rgba(50, 50, 50, 0.384);
}

.set-card-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 5px;
  max-height: 550px;
}

.set-card-list > p {
  margin-left: 15px;
}

.set-link {
  color: rgb(59, 59, 59);
  text-decoration: none;
}

/* ##################### ## BINDER VIEW ################## */

.page-wrapper hr {
  margin: 10px 0;
}

.binder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto 20px;
  background-image: url("/images/micro_carbon.png");
  padding: 50px 5px 75px;
  border-radius: 25px;
  border: ridge 10px rgba(71, 71, 71, 0.492);
}

.prize-card-container {
  position: relative;
  transition: transform 0.2s;
}

.prize-img-container > img {
  height: 350px;
  border-radius: 13px;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.772);
  filter: saturate(140%);
}

@media (hover: hover) {
  .prize-card-container:hover {
    transform: scale(1.5);
    z-index: 100;
  }
}

.prize-overlay {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.804),
    rgba(0, 0, 0, 0.845),
    rgba(0, 0, 0, 0.862),
    gray,
    rgba(0, 0, 0, 0.845),
    rgba(0, 0, 0, 0.814),
    white,
    gray,
    gray,
    rgba(0, 0, 0, 0.777),
    gray,
    gray,
    white,
    rgba(0, 0, 0, 0.857),
    rgba(0, 0, 0, 0.842),
    rgba(0, 0, 0, 0.734),
    gray,
    rgba(0, 0, 0, 0.757),
    rgba(0, 0, 0, 0.642)
  );
  height: 350px;
  border-radius: 13px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 35%;
  filter: brightness(200%);
}

.prize-card-container > div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 10px;
}

.prize-card-container > div > a {
  margin-top: 5px;
  color: rgba(221, 224, 140, 0.878);
  text-shadow: 1px 1px 1px black;
}

.prize-card-container > div > p {
  font-size: 0.8rem;
  line-height: 0.7rem;
  color: rgba(216, 216, 216, 0.901);
  text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 1600px) {
  .prize-img-container > img {
    height: 250px;
    width: 179.19px;
  }

  .prize-overlay {
    height: 250px;
    width: 179.19px;
  }

  .prize-card-container > div > a {
    font-size: 0.8rem;
  }

  .prize-card-container > div > p {
    font-size: 0.6rem;
  }
}

/* ##################### ## BULK VIEW ################## */
.page-wrapper > .page-nav {
  font-size: 0.7rem;
  border-left: solid 1px rgba(0, 0, 0, 0.157);
  border-top-left-radius: 20px;
  max-height: 200px;
  color: gray;
}

.bulk-set-container {
  padding: 15px;
}

.bulk-card-list > li {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}

.bulk-card-list > li p {
  font-size: 0.8rem;
}

.bulk-card-list > li > a {
  min-width: 270px;
}

.bulk-card-list > li > {
  width: 20%;
}

.bulk-card-list > li > .thin {
  width: 20px;
  text-align: center;
}

.bulk-card-list > li > .thin2 {
  width: 40px;
}

.bulk-card-list > li > .thin3 {
  width: 25px;
}

/* ##################### ## FILTER VIEW ################## */
.filter-header {
  border-bottom: solid 1px black;
  padding: 15px;
}

.filter-control-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 875px;
}

.filter-fieldsets-container {
  padding: 5px 10px 10px;
  font-size: 0.8rem;
  background-color: rgb(250, 245, 245);
}

.filter-fieldset {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;

  gap: 5px;
  max-height: 100px;
}

.filter-fieldset-supertype {
  flex-direction: row;
}

.filter-fieldset-supertype > div {
  width: 80px;
}

.filter-fieldset-rarity > div {
  width: 100px;
}

.filter-fieldset-subtypes > div {
  width: 80px;
}

.filter-fieldset-sets {
  max-height: 200px;
  row-gap: 10px;
}

.filter-card-name {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.filter-card-value {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.filter-checkbox-container {
  display: flex;
  font-size: 0.55rem;
  align-items: center;
  column-gap: 3px;
  width: 95px;
  height: 15px;
}
