/* TABLE OF CONTENTS */
/* 
  # Formatting
    ## Forms
  # No Auth Header
  # Sidebar
*/

/* ##################### # FORMATTING ################## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.page-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(255, 255, 255, 0.631);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  max-width: 1200px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.568);
}

@media only screen and (max-width: 670px) {
  .page-wrapper {
    padding: 10px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Bad Script", Georgia, "Times New Roman", Times, serif;
}

@media only screen and (max-width: 485px) {
  h1 {
    font-size: 1.6rem;
  }
}

a,
p {
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: grey;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, color 0.3s;
  text-underline-offset: 0.3rem;
}

.not-a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration-color: rgba(54, 54, 54, 0.643);
  }
}


.btn {
  padding: 2.5px 10px;
  min-width: 75px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 0;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

@media (hover: hover) {
  .btn:hover {
    color: #e8e8e8;
  }

  .btn:hover::before {
    width: 100%;
  }
}

ul {
  list-style: none;
}

hr {
  border-color: rgba(128, 128, 128, 0.09);
}

/* ########### ## FORMS ############ */
.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 600px;
  margin: 50px auto 0;
  padding: 10px 10px 20px;
  border-radius: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-control > input,
.form-control select,
.form-control textarea {
  padding: 7px 10px;
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.1ch;
}

.form-control-btns {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* #################### # NO AUTH HEADER ##################### */

.no-auth-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  height: 60px;
  padding: 5px 10px;
  background-color: #212f3c;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.455);
}

@media (hover: hover) {
  .no-auth-header a:hover {
    color: rgba(228, 228, 228, 0.742);
    text-decoration-color: rgba(197, 197, 197, 0.742);
  }
}

/* #################### # SIDEBAR ##################### */
.topbar {
  display: none;
}

.sidebar {
  padding: 20px 20px 20px 25px;
  width: 150px;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.543);
  height: 100vh;
  background-color: #212f3c;
}

.nav-img {
  height: 70px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.nav-bar > ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.nav-bar a {
  cursor: default;
}

@media (hover: hover) {
  .nav-bar a:hover {
    text-decoration-color: rgba(228, 228, 228, 0.742);
    color: rgba(228, 228, 228, 0.742);
  }
}

.nav-bar > ul > li > ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 0.8rem;
}

.topbar p {
  color: grey;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.3s, color 0.3s;
  text-underline-offset: 0.3rem;
}

@media (hover: hover) {
  .topbar p:hover,
  .topbar a:hover {
    text-decoration-color: rgba(228, 228, 228, 0.742);
    cursor: default;
    color: rgba(228, 228, 228, 0.742);
  }
}

@media only screen and (max-width: 800px) {
  .topbar > .nav-img {
    margin: 0;
  }

  .sidebar {
    display: none;
  }

  .topbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #212f3c;
    padding: 10px 10px 10px 0;
  }

  .topbar > nav {
    display: flex;
    column-gap: 15px;
    align-items: center;
    width: 100%;
  }

  .collection-menu {
    width: 100%;
    overflow: hidden;
    height: 0;
    position: absolute;
    left: 0;
    top: 90px;
    transition: height 0.5s, padding 0.5s;
    z-index: 100;
    background-color: #212f3cdf;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.441);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .collection-menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
    align-items: center;
    gap: 10px;
  }

  .collection-menu > ul > li > a {
    color: rgba(255, 255, 255, 0.597);
    font-size: 1.2rem;
    letter-spacing: .3ch;
  }

  .menu-open {
    height: 180px;
    padding: 5px 10px 10px;
  }
}

/* ##################### # MAIN ####################### */
.app-wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .app-wrapper {
    flex-direction: column;
  }
}

.main-wrapper {
  width: 100%;
  padding: 20px 2vw;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: rgb(224, 224, 224);
  background-image: url("../images/pattern-background.jpg");
  background-size: cover;
}